// footer
footer.footer 
	.wrapper 
		.row 
			.footer__col.footer__col--1 
				.footer__title Навигация по сайту
				ul.footer__list
					li 
						a(href="#") Вход в личный кабинет
					li 
						a(href="#") Регистрация 
					li 
						a(href="#") Корзина
					li 
						a(href="#") Избранное
					li 
						a(href="#") Каталог товаров
			.footer__col.footer__col--2
				.footer__title Контакты
				ul.footer__list
					li 
						span РТ, г. Казань, <br>Метро Проспект Победы, <br>торговая галерея
					li 
						a(href="tel:+79179359635") +7 917 935-96-35
					li 
						a(href="#") Связаться с тех.поддержкой
				// social
				.social
					.social__row 
						a(href="#").social__icon.social__icon--tg
							img(src="img/tg.svg", alt="")
						a(href="#").social__icon.social__icon--vk
							img(src="img/vk.svg", alt="")
						a(href="#").social__icon.social__icon--wap
							img(src="img/wap.svg", alt="")
						a(href="#").social__icon.social__icon--insta
							img(src="img/insta.svg", alt="")
				//	/social
			.footer__col.footer__col--3
				.footer__title Поддержка
				ul.footer__list
					li 
						a(href="#") Как сделать заказ
					li 
						a(href="#") Как совершить оплату 
					li 
						a(href="#") Как оформить доставку
					li 
						a(href="#") Как войти в личный кабинет
					li 
						a(href="#") Как зарегистрироваться
					li 
						a(href="#") Задать свой вопрос
			.footer__col.footer__col--4
				.footer__title Информация о компании
				ul.footer__list
					li 
						span ИНН: 160300010628
					li 
						span ОГРН: 320169000004382 
					li 
						span © 2021 ИП Минсафина Халида Минзакировна
					li 
						span Политика обработки персональных данных
// /footer