// header
header.header#header
	.wrapper
		.header__container

			.js-drop-btn.header__hamb.hamburger.hamburger--squeeze(data-drop="mobile-menu").mobile-visible
				.hamburger-box
					.hamburger-inner

			// menu-catalog
			.menu-catalog
				.js-drop-btn.menu-catalog__btn.hamburger.hamburger--squeeze(data-drop="menu-catalog").mobile-hide
					.hamburger-box
						.hamburger-inner
				nav.menu-catalog__nav#menu-catalog
					.menu-catalog__close ←
					ul.menu-catalog__list
						li.menu-catalog__children
							a(href="#") Все категории товаров
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
							ul.menu-catalog__sublist
								li 
									a(href="#") Название товара 1
								li 
									a(href="#") Название товара 1
								li 
									a(href="#") Название товара 1
								li 
									a(href="#") Название товара 1 
								li 
									a(href="#") Название товара 1
								li 
									a(href="#") Название товара 1
								li 
									a(href="#") Название товара 1
								li 
									a(href="#") Название товара 1
						li.menu-catalog__children
							a(href="#") Канцелярия
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
							ul.menu-catalog__sublist
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2 
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
						li.menu-catalog__children
							a(href="#") Хозтовары
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
							ul.menu-catalog__sublist
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3 
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
						li.menu-catalog__children
							a(href="#") Развивающая литература
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
							ul.menu-catalog__sublist
								li 
									a(href="#") Название товара 4
								li 
									a(href="#") Название товара 4
								li 
									a(href="#") Название товара 4
								li 
									a(href="#") Название товара 4 
						li
							a(href="#") Татарская литература
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Игры и игрушки
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Всё для праздника
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Книги
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Всё для творчества
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Сувениры
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Фоторамки и фотоальбомы
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Электроника
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Пряжа и рукоделие
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
			// /menu-catalog

			// logo
			a.logo(href="#")
				img(src="img/logo.svg", alt="")
			// /logo

			// search
			form(action="#").search.js-search-slide
				input#search(type="text" placeholder="Я ищу...")
				button(type="submit")
					img(src="img/zoom.svg", alt="")
			//	/search

			// menu-info
			.menu-info.mobile-hide
				.menu-info__btn.js-drop-btn(data-drop="menu-info")
					<svg width="35" height="8" viewBox="0 0 35 8" xmlns="http://www.w3.org/2000/svg">
						<circle cx="3.36133" cy="3.99609" r="3.5"/>
						<circle cx="17.3613" cy="3.99609" r="3.5"/>
						<circle cx="31.3613" cy="3.99609" r="3.5"/>
					</svg>

				.menu-info__drop#menu-info
					.menu-info__title Адреса магазинов
					.menu-info__text РТ, г. Казань, Метро Проспект Победы, торговая галерея
					.menu-info__title Режим работы
					.menu-info__text 8.00-20.00 в будние дни
					.menu-info__title Телефон магазина
					.menu-info__text +7 917 935-96-35
			//	/menu-info

			.btn.btn--mini.tablet-hide Регистрация

			// userblock
			.userblock.mobile-hide
				a(href="#").userblock__item
					.userblock__icon 
						<svg width="37" height="32" viewBox="0 0 37 32" xmlns="http://www.w3.org/2000/svg">
							<path d="M34.66 5.82623H6.51244L6.09403 1.30569C6.0256 0.566441 5.38677 0 4.62149 0H1.61762C0.801087 0 0.13916 0.641957 0.13916 1.43385C0.13916 2.22575 0.801087 2.86771 1.61762 2.86771H3.26983C4.17274 12.6235 1.83918 -12.5916 4.97027 21.2408C5.09094 22.565 5.82869 24.0019 7.0996 24.9783C4.8082 27.8162 6.90184 32 10.6292 32C13.7228 32 15.9048 29.0076 14.8439 26.1735H22.9357C21.8761 29.004 24.0534 32 27.1504 32C29.622 32 31.6328 30.0499 31.6328 27.6529C31.6328 25.2559 29.622 23.3058 27.1504 23.3058H10.6392C9.5161 23.3058 8.53743 22.6487 8.11502 21.6913L31.7427 20.3445C32.3878 20.3078 32.9335 19.8689 33.0903 19.261L36.0944 7.60782C36.3273 6.70422 35.622 5.82623 34.66 5.82623ZM10.6292 29.1323C9.78814 29.1323 9.10382 28.4686 9.10382 27.6529C9.10382 26.8372 9.78814 26.1735 10.6292 26.1735C11.4703 26.1735 12.1546 26.8372 12.1546 27.6529C12.1546 28.4686 11.4703 29.1323 10.6292 29.1323ZM27.1504 29.1323C26.3093 29.1323 25.625 28.4686 25.625 27.6529C25.625 26.8372 26.3093 26.1735 27.1504 26.1735C27.9915 26.1735 28.6758 26.8372 28.6758 27.6529C28.6758 28.4686 27.9915 29.1323 27.1504 29.1323Z"/>
						</svg>
					span Корзина
				a(href="#").userblock__item
					.userblock__icon 
						<svg width="31" height="26" viewBox="0 0 31 26" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.8824 25.486C14.5788 26.1714 15.7072 26.1713 16.4031 25.486L27.6278 14.4346C30.9763 11.1377 30.9763 5.77341 27.6278 2.47652C26.0055 0.879442 23.8487 -0.000116982 21.5545 1.16699e-08C19.2603 0.000117005 17.1036 0.87991 15.4816 2.47723L15.1426 2.81113L14.8023 2.47606C11.454 -0.820711 6.00553 -0.820828 2.65651 2.47641C-0.699758 5.78089 -0.700233 11.1298 2.65675 14.4347L13.8824 25.486Z"/>
						</svg>
					span  Избранное
				a(href="#").userblock__item
					.userblock__icon 
						<svg width="29" height="31" viewBox="0 0 29 31" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.8726 0C9.46374 0 6.13916 3.08226 6.13916 7.16936C6.13916 11.3762 9.60837 14.7982 13.8726 14.7982C18.1369 14.7982 21.6061 11.3762 21.6061 7.1697C21.6061 3.08226 18.2815 0 13.8726 0Z"/>
							<path d="M14.4026 16.6328C5.20473 16.6328 0.13916 20.9841 0.13916 28.8853C0.13916 29.5023 0.639302 30.0025 1.25639 30.0025H27.5488C28.1659 30.0025 28.666 29.5023 28.666 28.8853C28.6661 20.9845 23.6005 16.6328 14.4026 16.6328Z"/>
						</svg>
					span Войти
			//	/userblock

			// mobile-menu
			.mobile-menu#mobile-menu
				.mobile-menu__row 
					.mobile-menu__col
						.mobile-menu__user 
							a(href="#").mobile-menu__item
								.mobile-menu__icon
									img(src="img/cart.svg", alt="")
								span.mobile-menu__text Корзина
							a(href="#").mobile-menu__item
								.mobile-menu__icon
									img(src="img/heart.svg", alt="")
								span.mobile-menu__text Избранное
							a(href="#").mobile-menu__item
								.mobile-menu__icon
									img(src="img/user.svg", alt="")
								span.mobile-menu__text Войти
							a(href="#").mobile-menu__item.js-drop-btn(data-drop="menu-catalog")
								.mobile-menu__icon
									img(src="img/search-list.svg", alt="")
								span.mobile-menu__text Каталог товаров
						.btn.btn--mini Регистрация
					.mobile-menu__col
						.menu-info__title Адреса магазинов
						.menu-info__text РТ, г. Казань, Метро Проспект Победы, торговая галерея
						.menu-info__title Режим работы
						.menu-info__text 8.00-20.00 в будние дни
						.menu-info__title Телефон магазина
						.menu-info__text +7 917 935-96-35
			//	/mobile-menu

// /header