// header
header.header#header
	.wrapper
		.header__container

			.js-drop-btn.header__hamb.hamburger.hamburger--squeeze(data-drop="mobile-menu").mobile-visible
				.hamburger-box
					.hamburger-inner

			// menu-catalog
			.menu-catalog
				.js-drop-btn.menu-catalog__btn.hamburger.hamburger--squeeze(data-drop="menu-catalog").mobile-hide
					.hamburger-box
						.hamburger-inner
				nav.menu-catalog__nav#menu-catalog
					.menu-catalog__close ←
					ul.menu-catalog__list
						li.menu-catalog__children
							a(href="#") Все категории товаров
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
							ul.menu-catalog__sublist
								li 
									a(href="#") Название товара 1
								li 
									a(href="#") Название товара 1
								li 
									a(href="#") Название товара 1
								li 
									a(href="#") Название товара 1 
								li 
									a(href="#") Название товара 1
								li 
									a(href="#") Название товара 1
								li 
									a(href="#") Название товара 1
								li 
									a(href="#") Название товара 1
						li.menu-catalog__children
							a(href="#") Канцелярия
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
							ul.menu-catalog__sublist
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2 
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
								li 
									a(href="#") Название товара 2
						li.menu-catalog__children
							a(href="#") Хозтовары
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
							ul.menu-catalog__sublist
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3 
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
								li 
									a(href="#") Название товара 3
						li.menu-catalog__children
							a(href="#") Развивающая литература
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
							ul.menu-catalog__sublist
								li 
									a(href="#") Название товара 4
								li 
									a(href="#") Название товара 4
								li 
									a(href="#") Название товара 4
								li 
									a(href="#") Название товара 4 
						li
							a(href="#") Татарская литература
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Игры и игрушки
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Всё для праздника
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Книги
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Всё для творчества
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Сувениры
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Фоторамки и фотоальбомы
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Электроника
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
						li
							a(href="#") Пряжа и рукоделие
							span.menu-catalog__next
								<svg width="10" height="15" viewBox="0 0 10 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L9 7.5L1 14"/>
								</svg>
			// /menu-catalog

			// logo
			a.logo(href="#")
				img(src="img/logo.svg", alt="")
			// /logo

			// search
			form(action="#").search.js-search-slide
				input#search(type="text" placeholder="Я ищу...")
				button(type="submit")
					img(src="img/zoom.svg", alt="")
			//	/search

			// menu-info
			.menu-info.mobile-hide
				.menu-info__btn.js-drop-btn(data-drop="menu-info")
					<svg width="35" height="8" viewBox="0 0 35 8" xmlns="http://www.w3.org/2000/svg">
						<circle cx="3.36133" cy="3.99609" r="3.5"/>
						<circle cx="17.3613" cy="3.99609" r="3.5"/>
						<circle cx="31.3613" cy="3.99609" r="3.5"/>
					</svg>

				.menu-info__drop#menu-info
					.menu-info__title Адреса магазинов
					.menu-info__text РТ, г. Казань, Метро Проспект Победы, торговая галерея
					.menu-info__title Режим работы
					.menu-info__text 8.00-20.00 в будние дни
					.menu-info__title Телефон магазина
					.menu-info__text +7 917 935-96-35
			//	/menu-info

			.btn.btn--mini.tablet-hide Регистрация

			// userblock
			.userblock.mobile-hide
				a(href="#").userblock__item
					.userblock__icon 
						<svg width="36" height="32" viewBox="0 0 36 32" xmlns="http://www.w3.org/2000/svg">
							<path d="M34.5209 5.82623H6.37328L5.95487 1.30569C5.88644 0.566441 5.24761 0 4.48233 0H1.47846C0.661927 0 0 0.641957 0 1.43385C0 2.22575 0.661927 2.86771 1.47846 2.86771H3.13067C4.03358 12.6235 1.70002 -12.5916 4.83111 21.2408C4.95178 22.565 5.68953 24.0019 6.96044 24.9783C4.66904 27.8162 6.76268 32 10.49 32C13.5836 32 15.7656 29.0076 14.7047 26.1735H22.7965C21.737 29.004 23.9143 32 27.0113 32C29.4828 32 31.4936 30.0499 31.4936 27.6529C31.4936 25.2559 29.4828 23.3058 27.0113 23.3058H10.5C9.37694 23.3058 8.39827 22.6487 7.97586 21.6913L31.6036 20.3445C32.2486 20.3078 32.7944 19.8689 32.9512 19.261L35.9552 7.60782C36.1881 6.70422 35.4828 5.82623 34.5209 5.82623ZM10.49 29.1323C9.64898 29.1323 8.96466 28.4686 8.96466 27.6529C8.96466 26.8372 9.64898 26.1735 10.49 26.1735C11.3311 26.1735 12.0154 26.8372 12.0154 27.6529C12.0154 28.4686 11.3311 29.1323 10.49 29.1323ZM27.0112 29.1323C26.1701 29.1323 25.4858 28.4686 25.4858 27.6529C25.4858 26.8372 26.1701 26.1735 27.0112 26.1735C27.8523 26.1735 28.5366 26.8372 28.5366 27.6529C28.5366 28.4686 27.8523 29.1323 27.0112 29.1323ZM30.3459 17.5436L7.57787 18.8412L6.6387 8.69387H32.6273L30.3459 17.5436Z"/>
						</svg>
					span Корзина
				a(href="#").userblock__item
					.userblock__icon 
						<svg width="30" height="26" viewBox="0 0 30 26" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.7433 25.486C14.4396 26.1714 15.568 26.1713 16.264 25.486L27.4886 14.4346C30.8371 11.1377 30.8371 5.77341 27.4886 2.47652C25.8664 0.879442 23.7095 -0.000116982 21.4153 1.16699e-08C19.1212 0.000117005 16.9644 0.87991 15.3425 2.47723L15.0034 2.81113L14.6631 2.47606C11.3148 -0.820711 5.86637 -0.820828 2.51735 2.47641C-0.838918 5.78089 -0.839393 11.1298 2.51759 14.4347L13.7433 25.486ZM8.59035 3.50911C9.93215 3.50911 11.1936 4.02353 12.1424 4.95773L13.7434 6.53387C14.4391 7.21875 15.5682 7.21898 16.2643 6.53375L17.8635 4.95878C18.8122 4.02447 20.0738 3.50981 21.4157 3.50981C25.8576 3.50946 28.1347 8.83513 24.9682 11.9529L15.0038 21.7634L5.0385 11.9528C1.90492 8.86813 4.09573 3.50911 8.59035 3.50911Z"/>
						</svg>
					span  Избранное
				a(href="#").userblock__item
					.userblock__icon 
						<svg width="29" height="31" viewBox="0 0 29 31" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.7335 0C9.32458 0 6 3.08226 6 7.16936C6 11.3762 9.46921 14.7982 13.7335 14.7982C17.9977 14.7982 21.4669 11.3762 21.4669 7.1697C21.4669 3.08226 18.1423 0 13.7335 0ZM13.7335 12.5C10.6989 12.5 8.79248 9.66797 8.79248 7.16936C8.79248 4.16797 11.2335 2.5 13.7335 2.5C16.4721 2.5 18.7925 4.96875 18.7925 7.16936C18.7925 9.96875 16.7681 12.5 13.7335 12.5Z" />
							<path d="M14.2635 16.6328C5.06557 16.6328 0 20.9841 0 28.8853C0 29.5023 0.500142 30.0025 1.11723 30.0025H27.4096C28.0267 30.0025 28.5269 29.5023 28.5269 28.8853C28.5269 20.9845 23.4614 16.6328 14.2635 16.6328ZM2.5 27.768C3 22.0039 6.47874 19.5039 14 19.5039C21.5213 19.5039 25.3318 21.8604 25.7716 27.768H2.5Z"/>
						</svg>
					span Войти
			//	/userblock

			// mobile-menu
			.mobile-menu#mobile-menu
				.mobile-menu__row 
					.mobile-menu__col
						.mobile-menu__user 
							a(href="#").mobile-menu__item
								.mobile-menu__icon
									img(src="img/cart.svg", alt="")
								span.mobile-menu__text Корзина
							a(href="#").mobile-menu__item
								.mobile-menu__icon
									img(src="img/heart.svg", alt="")
								span.mobile-menu__text Избранное
							a(href="#").mobile-menu__item
								.mobile-menu__icon
									img(src="img/user.svg", alt="")
								span.mobile-menu__text Войти
							a(href="#").mobile-menu__item.js-drop-btn(data-drop="menu-catalog")
								.mobile-menu__icon
									img(src="img/search-list.svg", alt="")
								span.mobile-menu__text Каталог товаров
						.btn.btn--mini Регистрация
					.mobile-menu__col
						.menu-info__title Адреса магазинов
						.menu-info__text РТ, г. Казань, Метро Проспект Победы, торговая галерея
						.menu-info__title Режим работы
						.menu-info__text 8.00-20.00 в будние дни
						.menu-info__title Телефон магазина
						.menu-info__text +7 917 935-96-35
			//	/mobile-menu

// /header