extends blocks/base.pug

block title 
	title Корзина

block style-libs
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

block content
	include blocks/card-in-cart.pug

	.page

		include blocks/header.pug
		
		.content
			.wrapper

				// category
				.category
					.category__row 
						aside.category__sidebar 
							// cart
							.cart
								.cart__btndrop.js-drop-btn(data-drop="cart")
									.cart__icon
										img(src="img/percent_2.svg", alt="")
									span Ввести промокод
								.cart__drop#cart
									.cart__title Корзина
									.cart__text Введите промокод для получения скидки при оплате:
									.cart__input 
										input(type="text" placeholder="Введите промокод ")
									a(href="#").btn Оформить заказ
							//	/cart
						main.category__main
							.row
								.category__col
									+cardInCart('1')
								.category__col
									+cardInCart('2')
								.category__col
									+cardInCart('3')
								.category__col
									+cardInCart('4')
								.category__col
									+cardInCart('5')
								.category__col
									+cardInCart('6')
				
				//	/category
			
		include blocks/footer.pug

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="js/libs/bootstrap.bundle.min.js") 
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")