extends blocks/base.pug

block title 
	title Главная

block style-libs
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

block content
	include blocks/card-recom.pug

	.page

		include blocks/header.pug
		
		.content
			.wrapper

				// welcome
				.welcome
					.welcome__content 
						h1.welcome__title Каләм - интернет-магазин, канцелярские товары и не только
						.welcome__text 
							p 
								img(src="img/percent.svg", alt="")
								| Скидки постоянным покупателям
						a(href="#").btn Смотреть каталог
					.welcome__slider
						.js-welcome-slider 
							.img-responsive
								img(src="img/", alt="")
							.img-responsive
								img(src="img/", alt="")
							.img-responsive
								img(src="img/", alt="")
							.img-responsive
								img(src="img/", alt="")
				//	/welcome

				// catalog
				.catalog
					.row 
						.catalog__col
							a(href="#").catalog__item 
								.catalog__icon 
									img(src="img/office.jpg", alt="")
								.catalog__text Канцелярия
						.catalog__col
							a(href="#").catalog__item 
								.catalog__icon 
									img(src="img/book.jpg", alt="")
								.catalog__text Книги
						.catalog__col
							a(href="#").catalog__item 
								.catalog__icon 
									img(src="img/toys.jpg", alt="")
								.catalog__text Игрушки и игры
						.catalog__col
							a(href="#").catalog__item 
								.catalog__icon 
									img(src="img/household.jpg", alt="")
								.catalog__text Хозтовары
						.catalog__col
							a(href="#").catalog__item 
								.catalog__icon 
									img(src="img/souvenirs.jpg", alt="")
								.catalog__text Сувениры
						.catalog__col
							a(href="#").catalog__item 
								.catalog__icon 
									img(src="img/electronics.jpg", alt="")
								.catalog__text Электроника
						.catalog__col
							a(href="#").catalog__item 
								.catalog__icon 
									img(src="img/literature.jpg", alt="")
								.catalog__text Татарская литература
						.catalog__col
							a(href="#").catalog__item 
								.catalog__icon 
									img(src="img/developing.jpg", alt="")
								.catalog__text Развивающая литература
						.catalog__col
							a(href="#").catalog__item 
								.catalog__icon 
									img(src="img/holiday.jpg", alt="")
								.catalog__text Всё для праздника
						.catalog__col
							a(href="#").catalog__item 
								.catalog__icon 
									img(src="img/creativity.jpg", alt="")
								.catalog__text Всё для творчества
						.catalog__col
							a(href="#").catalog__item 
								.catalog__icon 
									img(src="img/photography.jpg", alt="")
								.catalog__text Фоторамки и фотоальбомы
						.catalog__col
							a(href="#").catalog__item 
								.catalog__icon 
									img(src="img/needlework.jpg", alt="")
								.catalog__text Пряжа и рукоделие
				//	/catalog

				// banners
				.banners
					.row 
						.banners__half 
							a(href="#").banners__banner.img-responsive
								img(src="img/banner_1.jpg", alt="")
							a(href="#").banners__banner.img-responsive
								img(src="img/banner_2.jpg", alt="")
							a(href="#").banners__banner.img-responsive
								img(src="img/banner_3.jpg", alt="")
						.banners__half 
							.banners__row
								.banners__col 
									+card-recom('card-recom-like_1')
								.banners__col 
									+card-recom('card-recom-like_2')
								.banners__col 
									+card-recom('card-recom-like_3')
								.banners__col 
									+card-recom('card-recom-like_4')
								.banners__col 
									+card-recom('card-recom-like_5')
								.banners__col 
									+card-recom('card-recom-like_6')
				//	/banners
			
		include blocks/footer.pug

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="js/libs/bootstrap.bundle.min.js") 
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")