extends blocks/base.pug

block title 
	title Навигация по страницам

block style-libs
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

block content

	.page

		include blocks/header.pug
		
		.content.content--align-center
			.wrapper

				h1.filters__title Навигация по страницам
				ul.filters__list 
					li 
						a(href="home.html") Главная
					li
						a(href="registration.html") Регистрация личного кабинета
					li 
						a(href="verifytel.html") Подтверждение номера телефона
					li 
						a(href="notverify.html") Неверный код
					li 
						a(href="enter.html") Вход в личный кабинет
					li 
						a(href="password-recovery.html") Восстановление пароля
					li 
						a(href="verifyemail.html") Подтверждение входа
					li 
						a(href="newpassword.html") Новый пароль
					li 
						a(href="404.html") 404
					li
						a(href="changing.html") Изменение персональных данных
					li 
						a(href="lk.html") Личный аккаунт
					li 
						a(href="history-product.html") История заказа
					li 
						a(href="category.html") Категория
					li 
						a(href="cart.html") Корзина
					li
						a(href="favorite.html") Избранное
					li 
						a(href="product-page.html") Страница товара
					li 
						a(href="policy.html") Политика безопасности
					li 
						a(href="support.html") Сервис и поддержка
					li 
						a(href="success.html") Сообщение об успешной покупке
					li 
						a(href="payment.html") Оплата через банк
					li 
						a(href="order.html") Оформление заказа (интерактив)
					li 
						a(href="order-pick.html") Оформление заказа (самовывоз)
					li 
						a(href="order-courier.html") Оформление заказа (отправка курьером)
					li 
						a(href="order-tk.html") Оформление заказа (доставка до ТК)
					li 
						a(href="order-store.html") Оформление заказа (доставка от магазина)
			
		include blocks/footer.pug

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="js/libs/bootstrap.bundle.min.js") 
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")