extends blocks/base.pug

block title 
	title Оформление заказа

block style-libs
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")
	link(rel="stylesheet", href="css/libs/datepicker.min.css")

block content
	include blocks/card-recom.pug

	.page

		include blocks/header.pug
		
		.content

			// order
			.order
				.wrapper
					h1.order__title Оформление заказа
					.order__row 
						.order__col1

							form(action="#").order__block 
								h2.order__subtitle Личные данные получателя заказа
								.order__input 
									input(type="text" placeholder="ФИО")#name
								.order__input
									input(type="tel" placeholder="Номер телефона")#tel.mask-tel

							form(action="#").order__block 
								h2.order__subtitle Выберите способ получения товара
								.order__select.js-select
									.order__trigger.js-drop-btn(data-drop="select1")
										span#delivery Самовывоз
									.order__drop#select1
										ul.order__list#toggle-block
											li.hide
												input#delivery_1(type="radio" name="delivery" value="pick" checked)
												label(for="delivery_1") Самовывоз
											li 
												input#delivery_2(type="radio" name="delivery" value="courier")
												label(for="delivery_2") Отправка курьером
											li 
												input#delivery_3(type="radio" name="delivery" value="tk")
												label(for="delivery_3") Доставка до ТК
											li 
												input#delivery_4(type="radio" name="delivery" value="store")
												label(for="delivery_4") Доставка от магазина

							form(action="#").order__block.js-toggle.js-pick.js-courier.js-store
								h2.order__subtitle.js-toggle.js-pick Выберите дату и время самовывоза
								h2.order__subtitle.js-toggle.js-courier.js-store Выберите желаемую дату и время доставки
								.order__input.order__input--select
									input(type="text" placeholder="Выбрать день" autocomplete="off")#datepicker
								.order__select.js-select-nohide
									.order__trigger.js-drop-btn(data-drop="select2")
										span#time Выбрать время
									.order__drop#select2
										ul.order__list 
											li
												input#time_1(type="radio" name="time")
												label(for="time_1") 8.00-10.00
											li 
												input#time_2(type="radio" name="time")
												label(for="time_2") 10.00-12.00
											li 
												input#time_3(type="radio" name="time")
												label(for="time_3") 13.00-15.00
											li 
												input#time_4(type="radio" name="time")
												label(for="time_4") 15.00-18.00
											li 
												input#time_5(type="radio" name="time")
												label(for="time_5") 18.00-20.00

							form(action="#").order__block 
								h2.order__subtitle Выберите способ оплаты
								.order__select.js-select
									.order__trigger.js-drop-btn(data-drop="select3")
										span#pay Наличными при получении
									.order__drop#select3
										ul.order__list 
											li.hide
												input#pay_1(type="radio" name="pay" checked)
												label(for="pay_1") Наличными при получении
											li 
												input#pay_2(type="radio" name="pay")
												label(for="pay_2") Картой онлайн
											li 
												input#pay_3(type="radio" name="pay")
												label(for="pay_3") Оплата по расчётному счёту
											li 
												input#pay_4(type="radio" name="pay")
												label(for="pay_4") Переводом на карту

							form(action="#").order__block.js-toggle.js-tk
								h2.order__subtitle Название траспортной компании
								.order__input 
									input(type="text" placeholder="Название")

							form(action="#").order__block.js-toggle.js-tk
								h2.order__subtitle Пункт выдачи товара
								.order__input 
									input(type="text" placeholder="Название")

							form(action="#").order__block.js-toggle.js-courier.js-store
								h2.order__subtitle Укажите адрес доставки
								.order__input 
									input(type="text" placeholder="Адрес доставки")#street.mask-street
								.order__input
									input(type="text" placeholder="Подъезд")#entrance.mask-entrance
								.order__input
									input(type="text" placeholder="Этаж")#floor.mask-floor
								.order__input
									input(type="text" placeholder="Номер квартиры")#kv.mask-kv

							form(action="#").order__block 
								h2.order__subtitle Комментарии к заказу
								.order__textarea 
									textarea(placeholder="Ваш комментарий")

						.order__col2

							form(action="#").order__block.order__block--sticky
								h2.order__subtitle Информация о заказе:
								.order__text 
									p Телефон: 
										span#telTo
									p Получатель: 
										span#nameTo
									p Способ получения: 
										span#deliveryTo самовывоз
									p.js-toggle.js-pick.js-courier.js-store 
										span.js-toggle.js-pick Дата самовывоза: 
										span.js-toggle.js-courier.js-store Дата доставки: 
										span#datepickerTo 
									p.js-toggle.js-pick.js-courier.js-store 
										span.js-toggle.js-pick Время самовывоза: 
										span.js-toggle.js-courier.js-store Время доставки: 
										span#timeTo 
									p Способ оплаты: 
										spab#payTo наличными при получении
									p.js-toggle.js-courier.js-tk.js-store Адрес доставки: 
										span#streetTo 
										span , 
										span#kvTo 
									p.js-toggle.js-courier.js-tk.js-store Этаж и подъезд: 
										span#floorTo
										span , 
										span#entranceTo
									p Стоимость: 1000р
									p Скидка: 0%
									p Стоимость доставки: 200р
								.order__result Итого: 1200 рублей
								button(type="submit").btn Оплатить заказ

			//	/order
			
		include blocks/footer.pug

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="js/libs/bootstrap.bundle.min.js") 
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")
	script(src="js/libs/datepicker.min.js") 