extends blocks/base.pug

block title 
	title Оплата через банк

block style-libs
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

block content
	include blocks/card-recom.pug

	.page

		include blocks/header.pug
		
		.content.content--align-center.content--bg
			.wrapper

				// payment
				form(action="#").payment
					.payment__block
						.payment__title Оплата банковской картой
						.payment__text.mobilesmall-hide Итого к оплате:
						.payment__text.mobilesmall-visible Итого к оплате с учётом <br>оставки и НДС: 
						.payment__price 1200 рублей
						.payment__systems 
							img(src="img/visa.svg", alt="")
							img(src="img/mir.svg", alt="")
							img(src="img/mastercard.svg", alt="")
							img(src="img/maestro.svg", alt="")
						.payment__input 
							input(type="text" placeholder="Номер карты")
						.payment__input 
							input(type="text" placeholder="ММ/ГГ")
						.payment__input 
							input(type="text" placeholder="CVV/CVC")
						button(type="submit" disabled).btn Оплатить заказ
				//	/payment
			
		include blocks/footer.pug

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="js/libs/bootstrap.bundle.min.js") 
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")