.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #FEFEFE;
  border: 0.5px solid #DDDDDD;
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 222px;
    border-bottom: 0.5px solid #DDDDDD;
    overflow: hidden;
    img {

    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px 18px;
    flex-grow: 1;
  }
  &__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 1.13;
    flex-grow: 1;
    a {
      color: #000;
    }
  }
  &__price {
    font-size: 18px;
    font-weight: bold;
    color: $red;
    margin-bottom: 8px;
  }
  &__text {
    color: #828282;
    p {
      margin-bottom: 2px;
    }
    a {
      color: #828282;
      &:hover {
        color: $green;
      }
    }
  }
  &__btn {
    padding: 15px 10px 14px;
    border: 1px solid #828282;
    border-radius: 0 0 5px 5px;
    font-size: 20px;
    color: #828282;
    text-align: center;
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
    &:hover {
      background-color: $green;
      color: #fff;
      border-color: $green;
    }
  }
  &__stickers {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &__sticker {
    input {
      display: none;
      &:checked {
        ~ label {
          animation: favorite .3s ease;
        }
      }
    }
    &--favorite {
      label {
        display: block;
        width: 24px;
        height: 21px;
        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Слой_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 21' style='enable-background:new 0 0 24 21;' xml:space='preserve' fill='%23F32E2E'%3E%3Cpath class='st0' d='M10.99,20.61c0.56,0.55,1.46,0.55,2.02,0l8.98-8.93c2.68-2.66,2.68-7,0-9.66c-1.3-1.29-3.02-2-4.86-2 c-1.84,0-3.56,0.71-4.86,2L12,2.3l-0.27-0.27c-2.68-2.66-7.04-2.66-9.72,0c-2.69,2.67-2.69,6.99,0,9.66L10.99,20.61z'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &--cart {
      display: none;
      label {
        display: block;
        width: 25px;
        height: 22px;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='22' viewBox='0 0 25 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.9728 4.00553H4.42589L4.13533 0.897665C4.08781 0.389428 3.64417 0 3.11273 0H1.02671C0.459671 0 0 0.441345 0 0.985775C0 1.5302 0.459671 1.97155 1.02671 1.97155H2.17408C2.8011 8.67867 1.18057 -8.65674 3.35493 14.603C3.43873 15.5134 3.95106 16.5013 4.83364 17.1726C3.24239 19.1236 4.6963 22 7.28473 22C9.43309 22 10.9484 19.9427 10.2116 17.9943H15.8309C15.0951 19.9402 16.6071 22 18.7578 22C20.4742 22 21.8706 20.6593 21.8706 19.0114C21.8706 17.3634 20.4742 16.0227 18.7578 16.0227H7.29167C6.51176 16.0227 5.83213 15.571 5.53879 14.9127L21.9469 13.9869C22.3949 13.9616 22.7739 13.6599 22.8827 13.2419L24.9689 5.23038C25.1306 4.60915 24.6409 4.00553 23.9728 4.00553Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='11.745' y1='-4.39583e-07' x2='24.2727' y2='14.492' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2314E753'/%3E%3Cstop offset='0.9999' stop-color='%230AB73E'/%3E%3Cstop offset='1' stop-color='%230AB73E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E ");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  &__property {
    display: none;
    color: #828282;
  }
  @media (min-width: $break_sm + 1) {
    &--list {
      flex-direction: row;
      .card__img {
        height: auto;
        width: 300px;
        min-height: 276px;
        border-bottom: none;
        border-right: 1px solid #ddd;
        flex-shrink: 0;
        position: relative;
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
      .card__content {
        padding: 32px 80px 32px 30px;
      }
      .card__title {
        flex-grow: 0;
      }
      .card__btn {
        display: none;
      }
      .card__property {
        display: block;
      }
      .card__sticker {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        background: #FFFFFF;
        box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        margin-bottom: 10px;
        &--cart {
          display: flex;
        }
      }
    }
  }
  @media (max-width: $break_xs) {
    &__img {
      height: 135px;
    }
    &__content {
      padding: 10px 10px 50px;
    }
    &__title {
      font-size: 14px;
      margin-bottom: 6px;
    }
    &__price {
      font-size: 12px;
      margin-bottom: 6px;
    }
    &__stickers {
      display: flex;
      margin-left: -8px;
      top: auto; 
      right: auto;
      left: 10px;
      bottom: 10px;
    }
    &__text {
      font-size: 12px;
      p {
        margin: 0;
      }
      a {
        display: none;
      }
    }
    &__sticker {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background: #FFFFFF;
      box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      margin-left: 8px;
      label {
        width: 16px;
      }
      &--cart {
        display: flex;
      }
    }
    &__btn {
      display: none;
    }
  }
}