.form {
  max-width: 530px;
  padding: 80px 0 25px;
  margin-left: auto;
  margin-right: auto;
  &__text {
    color: #060606;
    margin-bottom: 25px;
    text-align: center;
    h1 {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    p {
      margin-bottom: 8px;
      font-size: 18px;
    }
  }
  &__input {
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    input {
      width: 100%;
      height: 58px;
      padding: 0 30px;
      background: #FFFFFF;
      border: 1px solid #D5D5D5;
      box-shadow: inset 2px 0px 8px rgba(0, 0, 0, 0.1);
      border-radius: 5px; 
      font-size: 20px;
      &::placeholder {
        color: #989898;
      }
    }
  }
  &__footer {
    margin-top: 27px;
    text-align: center;
    font-size: 18px;
    .btn {
      margin-bottom: 18px;
    }
    &--2 {
      .btn {
        padding: 15px 20px 14px;
      }
      .form__link {
        display: inline-block;
        border-bottom: none;
      }
    }
  }
  &__link {
    color: #515151;
    border-bottom: 1px solid #515151;
    &:hover {
      color: $green;
      border-color: $green;
    }
  }
  &__shadowblock {
    padding: 50px 30px 32px;
    background: #FFFFFF;
    box-shadow: 0px 12px 53px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
  }
  @media (max-width: $break_sm) {
    padding: 75px 0 15px;
    max-width: 380px;
  }
  @media (max-width: $break_xs) {
    padding: 40px 0;
    &__text {
      h1 {
        font-size: 27px;
      }
      p {
        font-size: 14px;
      }
    }
    &__input {
      margin-bottom: 8px;
      input {
        padding: 0 20px;
        font-size: 16px;
      }
    }
    &__footer {
      font-size: 14px;
    }
    &__shadowblock {
      padding: 0 20px;
      box-shadow: none;
    }
    .btn {
      width: 100%;
      margin-bottom: 22px;
    }
  }
}