.header {
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(6, 6, 6, 0.08);
  position: fixed;
  width: 100%;
  z-index: 10;
  &__container {
    display: flex;
    justify-content: space-between;
    height: 75px;
    transition: 0.3s;
  }
  .btn {
    margin: 0 20px;
    align-self: center;
  }
  &__hamb {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
    z-index: 12;
  }
  &.stiky {
    .header__container {
      height: 60px;
    }
  }
  @media (max-width: $break_xs) {
    &__hamb {
      // margin-right: 0;
    }
    &__container {
      justify-content: flex-start;
      position: relative;
    }
  }
}

.logo {
  max-width: 153px;
  max-height: 48px;
  align-self: center;
  @media (max-width: $break_sm) {
    max-width: 116px;
    max-height: 37px;
  }
}

.search {
  width: 100%;
  max-width: 410px;
  margin: 0 20px;
  position: relative;
  align-self: center;
  input {
    width: 100%;
    height: 36px;
    padding: 0 40px 0 20px;
    background-color: #F0F0F0;
    border: none;
    border-radius: 3px;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    background: transparent;
  }
  @media (max-width: $break_md) {
    max-width: 300px;
  }
  @media (max-width: $break_sm) {
    max-width: none;
    margin-left: 30px;
    margin-right: 0;
    input {
      height: 38px;
    }
  }
  @media (max-width: $break_xs) {
    width: calc(100% - 50px);
    height: 38px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    input {
      width: 0;
      padding: 0 10px;
      position: absolute;
      top: 0;
      right: 0;
      transition: 0.5s;
    }
    button {
      width: 38px;
      background-color: #F0F0F0;
    }
    &.open {
      input {
        width: 100%;
      }
    }
  }
}