.history-list {
  padding: 45px 45px 0;
  background: #FFFFFF;
  box-shadow: 0px 12px 53px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin-bottom: 30px;
  &__title {
    font-weight: 600;
    font-size: 26px;
    color: #060606;
    margin-bottom: 18px;
  }
  &__block {
    max-height: 335px;
  }
  &__list {
    li {
      padding: 11px 22px;
      background: #F6F6F6;
      border: 0.7px solid #D9D9D9;
      border-radius: 3px;
      margin-bottom: 6px;
    }
    a {
      font-size: 18px;
      color: #848484;
    }
  }
  &__inner {
    padding-right: 30px;
  }
  .scrollbar-inner > .scroll-element.scroll-y {
    width: 12px;
    background: #E1E1E1;
  }
  .scrollbar-inner > .scroll-element .scroll-element_outer, .scrollbar-inner > .scroll-element .scroll-element_track, .scrollbar-inner > .scroll-element .scroll-bar {
    border-radius: 1px;
    cursor: pointer;
    opacity: 1;
  }
  .scroll-bar {
    height: 36px !important;
  }
  @media (max-width: $break_lg) {
    margin-bottom: 40px;
  }
  @media (max-width: $break_xs) {
    padding: 32px 18px 32px 25px;
    margin-bottom: 30px;
    &__title {
      font-size: 22px;
    }
    &__inner {
      max-height: 350px;
      padding-right: 22px;
    }
  }
}