.product {
  max-width: 1050px;
  padding: 80px 0 25px;
  margin-left: auto;
  margin-right: auto;
  &__row {
    display: flex;
    flex-wrap: wrap;
  }
  &__slider {
    width: 38%;
    .img-responsive {
      display: block !important;
      &:after {
        padding-top: 100%;
      }
    }
    #product-slider {
      border: 1px solid #D5D5D5;
      border-radius: 3px;
      margin-bottom: 20px;
      overflow: hidden;
    }
    #product-slider-nav {
      margin-left: auto;
      margin-right: auto;
      .slick-list {
        margin: 0 -10px;
      }
      .slick-slide {
        margin: 0 10px;
      }
      .img-responsive {
        border: 1px solid #D5D5D5;
        border-radius: 3px;
        overflow: hidden;
      }
    }
  }
  &__content {
    width: 62%;
    padding-left: 45px;
  }
  &__title {
    font-size: 32px;
    font-weight: 600;
    color: #060606;
    margin-bottom: 16px;
  }
  &__price {
    font-size: 25px;
    font-weight: 600;
    color: $red;
    margin-bottom: 12px;
  }
  &__list {
    font-size: 20px;
    margin-bottom: 25px;
    li {
      margin-bottom: 4px;
    }
  }
  &__result {
    font-size: 22px;
    font-weight: 600;
    color: $green;
    margin-bottom: 20px;
  }
  &__item {
    display: flex;
  }
  &__property {
    width: 50%;
    padding-right: 10px;
    position: relative;
    &:after {
      width: 100%;
      content: '...................................................................................';
      display: inline;
      position: absolute;
      left: 0;
      bottom: 0;
      overflow: hidden;
    }
    span {
      background-color: #fff;
      position: relative;
      z-index: 2;
    }
  }
  &__value {
    display: flex;
    align-items: flex-end;
    width: 50%;
    background-color: #fff;
  }
  .btn {
    padding: 15px 50px 14px;
  }
  &__appendrow  {
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-left: -30px;
  }
  &__appenditem {
    margin-bottom: 22px;
    margin-left: 30px;
    input {
      display: none;
      &:checked {
        + label {
          .product__appendicon {
            img {
              animation: favorite .3s;
            }
          }
        }
      }
    }
    label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
      transition: 0.2s;
       &:hover {
        color: $green;
      }
    }
  }
  &__appendicon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    margin-right: 18px;
    background: #FFFFFF;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    img {
      display: block;
    }
  }
  @media (max-width: $break_md) {
    &__slider {
      width: 100%;
      max-width: 470px;
      margin-bottom: 32px;
    }
    &__content {
      width: 100%;
      padding-left: 0;
    }
  }
  @media (max-width: $break_sm) {
    padding: 75px 0 20px;
    &__price {
      margin-bottom: 14px;
    }
    &__list {
      margin-bottom: 32px;
    }
    .btn {
      width: 100%;
      text-align: center;
    }
    &__appenditem {
      width: 100%;
    }
  }
  @media (max-width: $break_xs) {
    padding: 40px 0;
    &__title {
      font-size: 22px;
    }
    &__price {
      font-size: 18px;
    }
    &__list {
      font-size: 14px;
    }
    &__result {
      font-size: 18px;
    }
    .btn {
      padding: 15px 40px;
    }
    &__slider {
      margin-bottom: 47px;
    }
    #product-slider {
      margin-bottom: 12px;
    }
    #product-slider-nav {
      .slick-list {
        margin: 0 -6px;
      }
      .slick-slide {
        margin: 0 6px;
      }
    }
    &__appendrow {
      font-size: 16px;
      margin-bottom: 18px;
    }
    &__appenditem {
      margin-bottom: 14px;
    }
    &__appendicon {
      width: 34px;
      height: 34px;
      img {
        width: 20px;
      }
    }
  }
}