/* settings */
html {
  height: 100%;
}
a {
  transition: $trans;
  text-decoration: none;
}
button,
input,
textarea {
  font-family: "Gilroy";
  font-size: 15px;
}
body {
  height: 100%;
  min-width: 319px;
  background-color: #fefefe;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 1.3;
  color: #515151;
  &.lock {
    position: fixed;
  }
}
.mobile-hide {
  @media (max-width: $break_sm) {
    display: none !important;
  }
}
.mobile-visible {
  @media (min-width: $break_sm + 1) {
    display: none !important;
  }
}
.tablet-hide {
  @media (max-width: $break_md) {
    display: none !important;
  }
}
.tablet-visible {
  @media (min-width: $break_md + 1) {
    display: none !important;
  }
}
.img-responsive {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}
.row {
  @include row-flex();
}
.wrapper {
  @include wrapper();
  @media (max-width: $break_sm) {
    max-width: 620px;
  }
}
*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
*::placeholder {
  color: #515151;
  opacity: 1;
}
.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
  padding-top: 75px;
  padding-bottom: 55px;
  &--align-center {
    display: flex;
    align-items: center;
  }
  @media (max-width: $break_xs) {
    padding-bottom: 0;
  }
}
.btn {
  display: inline-block;
  padding: 15px 40px 14px;
  background-color: $green;
  box-shadow: 0px 4px 13px rgba(6, 6, 6, 0.1);
  border-radius: 5px;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;
  transition: $trans;
  &--mini {
    padding: 7px 20px 8px;
    box-shadow: none;
    font-size: 16px;
  }
  &:hover {
    background-color: $greenL;
  }
  @media (max-width: $break_xs) {
    font-size: 22px;
    &--mini {
      font-size: 16px;
    }
  }
}
.hamburger {
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    transition: $trans !important;
  }
  &.is-active {
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background-color: #BDBDBD !important;
    }
  }
  @media (min-width: $break_sm + 1) {
    &:hover {
      .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: #BDBDBD !important;
      }
    }
  }
}
.scroll-element.scroll-x {
    display: none !important;
}
.slick-dots {
  display: flex;
  margin-left: -13px;
  li {
    width: 14px;
    height: 14px;
    margin-left: 13px;
    background-color: #BDBDBD;
    border-radius: 100%;
    transition: 0.2s;
    cursor: pointer;
    &.slick-active {
      background-color: $green;
    }
    button {
      display: none;
    }
  }
  @media (max-width: $break_xs) {
    margin-left: -7px;
    li {
      width: 8px;
      height: 8px;
      margin-left: 7px;
    }
  }
}
/* /settings */