/* settings */
html {
  height: 100%;
}
a {
  transition: $trans;
  text-decoration: none;
}
button,
input,
textarea {
  font-family: Arial;
  font-size: 16px;
}
body {
  height: 100%;
  min-width: 319px;
  background-color: #fefefe;
  font-family: "Gilroy";
  font-size: 16px;
  color: #515151;
  &.lock {
    position: fixed;
  }
}
.mobile-hide {
  @media (max-width: $break_sm) {
    display: none !important;
  }
}
.mobile-visible {
  @media (min-width: $break_sm + 1) {
    display: none !important;
  }
}
.img-responsive {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}
.row {
  @include row-flex();
}
.wrapper {
  @include wrapper();
}
*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
  padding-top: 75px;
}
.btn {
  display: inline-block;
  padding: 15px 40px 14px;
  background-color: $green;
  box-shadow: 0px 4px 13px rgba(6, 6, 6, 0.1);
  border-radius: 5px;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;
  transition: $trans;
  &--mini {
    padding: 7px 20px 8px;
    box-shadow: none;
    font-size: 16px;
  }
  &:hover {
    background-color: $greenL;
  }
  @media (max-width: $break_sm) {
    font-size: 22px;
    &--mini {
      font-size: 16px;
    }
  }
}
.hamburger {
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    transition: $trans !important;
  }
  &:hover, &.is-active {
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background-color: #BDBDBD !important;
    }
  }
}
/* /settings */