.userblock {
  display: flex;
  align-items: center;
  margin-left: -32px;
  &__item {
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    margin-left: 32px;
    transition: $trans;
    user-select: none;
    &:hover {
      color: #bdbdbd;
      .userblock__icon {
        svg {
          fill: #bdbdbd;
        }
      }
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin-bottom: 5px;
    svg {
      fill: #fff;
      transition: $trans;
    }
  }
}