.welcome {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 55px;
  &__content {
    width: 60%;
    padding-right: 20px;
  }
  &__title {
    font-size: 40px;
    font-weight: bold;
    color: #060606;
    margin-bottom: 22px;
    span {
      display: inline-block;
      padding-bottom: 6px;
      transform: rotate(180deg);
    }
  }
  &__text {
    font-size: 24px;
    color: #515151;
    margin-bottom: 30px;
    img {
      width: 21px;
      margin-right: 10px;
    }
  }
  &__slider {
    width: 40%;
    .img-responsive {
      &:after {
        padding-top: 102%;
      }
      img {
        background-color: #F4F4F4;
      }
    }
    .slick-dots {
      position: absolute;
      left: 41px;
      bottom: 38px;
    }
  }
  @media (max-width: $break_sm) {
    padding-top: 50px;
    &__content {
      width: 100%;
      order: 2;
    }
    &__slider {
      width: 100%;
      order: 1;
      margin-bottom: 55px;
      .img-responsive {
        &:after {
          padding-top: 46.5%;
        }
      }
      .slick-dots {
        left: 36px;
        bottom: 30px;
      }
    }
    &__title {
      margin-bottom: 14px;
    }
    &__text {
      margin-bottom: 27px;
    }
  }
  @media (max-width: $break_xs) {
    padding-top: 40px;
    padding-bottom: 37px;
    &__slider {
      margin-bottom: 40px;
      .img-responsive {
        &:after {
          padding-top: 46%;
        }
      }
      .slick-dots {
        left: 18px;
        bottom: 18px;
      }
    }
    &__title {
      font-size: 25px;
      margin-bottom: 16px;
      span {
        padding-bottom: 3px;
      }
    }
    &__text {
      font-size: 15px;
      margin-bottom: 22px;
      img {
        width: 11px;
        margin-right: 8px;
      }
    }
  }
}