.welcome {
  padding-top: 55px;
  padding-bottom: 55px;
  &__row {
    display: flex;
    flex-wrap: wrap;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 490px;
    padding: 97px 30px 100px 30px;
    background-color: $green;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
  }
  &__logo {
    margin-bottom: 30px;
  }
  &__title {
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    span {
      display: inline-block;
      padding-right: 6px;
    }
  }
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 15px 6px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    background-color: #EC691F;
    letter-spacing: 0.034em;
    img {
      display: block;
      width: 18px;
      margin-right: 8px;
    }
  }
  &__slider {
    width: calc(100% - 490px);
    border: 1px solid #828282;
    border-left: none;
    border-radius: 0 8px 8px 0;
    overflow: hidden;
    .slick-slider {
      height: 100%;
    }
    .slick-list {
      height: 100%;
    }
    .slick-track {
      height: 100%;
    }
    .slick-slide {
      height: 100%;
      > div {
        height: 100%;
      }
    }
    .slick-dots {
      position: absolute;
      left: 50%;
      bottom: 38px;
      transform: translate(-50%,0);
    }
  }
  &__slide {
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  @media (max-width: $break_sm) {
    padding-top: 50px;
    &__content {
      width: 100%;
      padding: 40px 30px 50px 30px;
      border-radius: 8px 8px 0 0;
    }
    &__logo {
      margin-bottom: 35px;
    }
    &__title {
      font-size: 25px;
      text-align: center;
    }
    &__slider {
      width: 100%;
      height: 464px;
      border-left: 1px solid #828282;
      border-radius: 0 0 8px 8px;
      .img-responsive {
        &:after {
          padding-top: 46.5%;
        }
      }
      .slick-dots {
        left: 55px;
        bottom: 45px;
        transform: translate(0,0);
      }
    }
    &__title {
    }
    &__text {
    }
  }
  @media (max-width: $break_xs) {
    padding-top: 35px;
    padding-bottom: 37px;
    &__content {
      padding: 40px 20px 45px 20px;
    }
    &__slider {
      height: 242px;
      .img-responsive {
        &:after {
          padding-top: 46%;
        }
      }
      .slick-dots {
        left: 30px;
        bottom: 20px;
      }
    }
    &__logo {
      margin-bottom: 14px;
    }
    &__title {
      font-size: 16px;
      margin-bottom: 13px;
    }
    &__text {
      padding: 2px 10px 3px;
      font-size: 14px;
      img {
        width: 9px;
        margin-right: 3px;
      }
    }
  }
}